.regular-buy-button {
    display: block;
    padding: .4rem .75rem .3rem .75rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 8px #CCC;
    font-size: 1.1rem;
    &:hover {
        background: black;
        color: white;
    }
}

.buy-button {
    margin: 1rem;
}